#new-interview-full{
    background-color: rgb(255, 194, 137);
    padding: 1.2rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 3px 3px 8px grey;
    font-family: Futura-Std-Book;
}

.new-interview-input-group {
    font-family: Futura-Std-Book;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    
}
